html,body,div,span,h1,h2,h3,h4,h5,h6,p,img{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
html,body{width:100%;height:100%;}
body{background-color:#000;}
.round{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}